{% macro modal_form(modal_id, title, form_action) %}
    <div id="{{ modal_id }}" class="modal hide">
        <form class='form-horizontal' action="{{ form_action }}" method="post" style='margin-bottom:0' novalidate>
            <div class='modal-header'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ title }}</h3>
            </div>
            <div class='modal-body' data-loader="<p style='text-align:center'><img src='{{ asset('bundles/deftbootstrap/img/ajax-loader.gif') }}' /></p>">
            </div>
            <div class='modal-footer'>
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'general.cancel' | trans({}, 'bootstrap') }}</button>
                <button type="submit" class="btn btn-primary">{{ 'general.save' | trans({}, 'bootstrap') }}</button>
            </div>
        </form>
    </div>
{% endmacro %}

{% macro modal_button(path, title, target = '', class = '', icon = false) %}
    <a href="{{ path }}" class="{{ class }}" data-toggle="modal" {{ target ? ('data-target="' ~ target ~ '"') | raw : '' }}>
        {% if icon %}<i class='icon-{{ icon }}'></i>{% endif %}
        {{ title }}
    </a>
{% endmacro %}
