{% block form_row %}
    {% spaceless %}
        <div class='control-group{{ form.vars.errors | length > 0 ? ' error' : '' }}'>
            {% if form.vars.render_label %}
                {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
            {% endif %}
            <div class='controls'>
                {{ form_widget(form) }}
                {{ form.vars.help_inline is not empty ? block('help_inline') : '' }}
                {{ form.vars.help_block is not empty ? block('help_block') : '' }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_widget_compound %}
    {% spaceless %}
        <fieldset {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </fieldset>
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% if form.parent is empty and compound %}
                <div class='alert alert-error'>
                    <ul class='unstyled' style='margin-bottom: 0'>
                        {% for error in errors %}<li>{{ error.message }}</li>{% endfor %}
                    </ul>
                </div>
            {% else %}
                {% for error in errors %}
                    <span class='help-block error'>{{ error.message }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block help_inline %}
    {% if form.vars.help_inline %}<span class="help-inline">{{ form.vars.help_inline }}</span>{% endif %}
{% endblock %}

{% block help_block %}
    {% if form.vars.help_block %}<span class="help-block">{{ form.vars.help_block }}</span>{% endif %}
{% endblock %}

{% block composite_row %}
    <div class='control-group{{ form.vars.errors | length > 0 ? ' error' : '' }}'>
        {% if form.vars.render_label %}
            {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
        {% endif %}
        <div class="controls composite {{ form.vars.attr.class | default('') }}">
            {% for field in form.children %}
                {{ form_widget(field, {
                    'attr': {
                        'class': ((field.vars.errors | default([])) | length > 0 ? 'error ' : '')
                            ~ (field.vars.attr.class | default(''))
                    }
                }) }}
            {% endfor %}

            {{ block('help_inline') }}
            {{ block('help_block') }}

            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block button_row %}
    <div class='control-group'>
        <div class='controls'>
            {{ form_widget(form, {'attr': {'class': 'btn'}}) }}
        </div>
    </div>
{% endblock %}

{% block money_widget %}
    <div class='input-prepend'>
        <span class='add-on'>&euro;</span>
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block single_text_date_widget %}
    {% set attr = attr|merge({'data-date-format': form.vars.date_format, 'data-toggle': 'datepicker'}) %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' ' ~ (multiple ? 'checkbox' : 'radio'))}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (inline is defined and inline ? 'inline' : ''))|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}
                {{ child.vars.label|trans({}, translation_domain) }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}
